# Системные файлы macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Виртуальное окружение
venv/
.env

# Креденшелы, ключи
credentials.json
*.env

# Индексы, логи и временные файлы
faiss_index.bin
texts.npy
filenames.npy
last_update.txt
bot.log

